$main-bg:#fff;

$main-color-primary:#FF902A;
$main-color-secondary:#F9D9AA;

$txt-main-color:#2F2105 ;
$txt-second-color:#F9D9AA;


// $btn-main-bg:$main-color;
// $btn-main-color:#fff;

// $header-height:95p    x;
// $header-tablet-height:90px;
// $header-mobile-height:60px;
// $header-shrink-height:60px;

$box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;
$mobile-width: 600px;
$tablet-width: 1024px;

$number:(0,1,2,3,4,5,6,7,8);